.set-input-width{
  max-width: 450px;
  min-width: 250px;
}
.form-width{
  max-width: 400px;
  min-width: 300px;
  height: 350px;

}
.btn-color{
  background-color: rgb(51, 88, 250);
}
.g-icon-w{
  width: 30px;
  height: 30px;
}

.productinput-width{
  max-width: 500px;
  min-width: 250px;

}
.email-fontsize{
  font-size: 15px;
}
.img_width{
  width: 150px;
  height: 150px;

}